{% extends "base.html" %}

{% block body %}
<div class="row row-fluid">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ group_name }}</h3>
            </div>
            <div class="panel-body" style="max-height: 600px">
                <div id="carousel-example-generic" class="carousel slide" style="max-height: 100%">
                    <ol class="carousel-indicators">
                        {% for photo in object_list %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner" style="max-height: 100%">
                        {% for photo in object_list %}
                        <div class="item {% if forloop.first %}active{% endif %}" style="max-height: 100%">
                            <img src="{{ photo.image.url }}" style="max-height: 90%; margin: auto auto auto auto;">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
        </div>
    </div>


</div>

{% endblock body %}
