{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="row row-fluid">
    <div class="container col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Your Photos</h3>
            </div>
            <div class="panel-body">
                {% for photo in object_list %}
                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
                    <p>
                    <a href="{% url "photo" photo.owner.username "default" photo.pk %}" class="thumbnail">
                        <img id="id_{{ photo.safe_filename }}" src="{{ photo.image.url }}">
                    </a>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
{% for photo in object_list %}

$("#id_{{ photo.safe_filename }}").popover({ 'html':'true',
                                     'placement':'bottom',
                                     'trigger': 'hover',
                                     'container': 'body',
                                     'content':"<img src='{{ photo.image.url }}' width='100%'>"});
        

{% endfor %}
</script>
{% endblock script %}
