{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="well row">
        {% for photo in object_list %}
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
            <p>
            <a href="{% url "photo" %}" class="thumbnail" width="100%" height="100%">
                <img id="id_{{ photo.safe_filename }}" src="{{ photo.image.url }}">
            </a>
            </p>
        </div>
    {% endfor %}
</div>
</div>

{% endblock %}

{% block script %}
<script>
{% for photo in object_list %}

$("#id_{{ photo.safe_filename }}").popover({ 'html':'true',
                                     'placement':'bottom',
                                     'trigger': 'hover',
                                     'container': 'body',
                                     'content':"<img src='{{ photo.image.url }}' width='100%'>"});
        

{% endfor %}
</script>
{% endblock script %}
