<div class="well col-sm-6">
    Upload a photo.
    <form enctype="multipart/form-data" action="{% url "photo" %}" method="post">
        {% csrf_token %}
        {{ photo_upload_form.as_p }}
        <div class="input-group">
            <input id="photoCover" class="form-control" type="text">
            <span class="input-group-btn">
                <button id="browse_btn" class="btn btn-default" type="button">Browse</button>
            </span>
        </div>   
        <p>
        </p> 
        <button type="submit" class="btn btn-primary btn-large">Upload Photo</button>
    </form>
</div>

