<div class="container col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Upload a photo</h3>
        </div>
        <div class="panel-body">
            {% if photo_upload_form.errors.items %}
            <div class="alert alert-error">
                {% for field, error in photo_upload_form.errors.items%}
                <p>
                {{ error }}
                </p>
                {% endfor %}
            </div>
            {% endif %}
            <form id="upload_form" enctype="multipart/form-data" action="{% url "upload_photo" %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input id="photoCover" class="form-control" type="text" required>
                    <span class="input-group-btn">
                        <button id="browse_btn" class="btn btn-default" type="button">Browse</button>
                    </span>
                </div>
                {% for field in photo_upload_form %}
                <p>    
                {{ field }}
                </p>
                {% endfor %}
                <p>
                </p> 
                <button type="submit" class="btn btn-primary btn-large">Upload Photo</button>
            </form>
        </div>
    </div>
</div>
