@import url(https://fonts.googleapis.com/css?family=Codystar);

.navbar-brand {
	font-family: 'Codystar', Arial, serif; font-weight: 700;
}

.panel-heading>h2 {
	color: white;
}

body {
    background-image: url("../img/bg.jpg");
}

footer {
	color: white;
}

.popover {
	width: 200px;
}
